
    * {
        box-sizing: border-box;
    }
    h1 {
        margin-bottom: 20px;
        text-align: center;
        font-family: comic sans ms;
        font-size: 175%;
    }
    div{
    	position: relative;
        padding: 10px;
        width:100%;
       }
       
    p {
        position: relative;
        clear: right;  
        } 
    section{
        position: relative;
        background-color: whitesmoke;
        border: 1px solid black;
        width:100;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
    
    .chicken {
        float: right;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: blue;
        color:white;
        border-right: none;
        border-top: none;

    }

    .beef {
        float: right;
        color: white;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: maroon;
        border-right: none;
        border-top: none;

    }

    .sushi {
        color: black;
        float: right;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        border-right: none;
        border-top: none;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color:yellow;

    }

    .isi {
        padding: 5px;
        border: none;
        background-color: whitesmoke;
        font-family: comic sans ms;
        color: black;
        margin: 0px;
        height: 150px;
        overflow: auto;
    }

    .row {
        width: 100%;
    }

    @media (min-width: 992px) {
        .col-lg-4{
            float: left;
            width: 33.33%;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-6 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .col-md-12 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: 767px) {
        .col-sl-12 {
            float: left;
            width: 100%;
        }
    }